.addExperience {
    background: linear-gradient(to right,rgb(65, 77, 83) 0%,rgb(53, 72, 83) 50%,rgb(46, 76, 94) 100%);
    color:white;
}

.successPopup {
    position: "absolute";
    bottom: "100%";
    left: "50%";
    transform: "translateX(-50%)";
    margin-bottom: "8px";
    padding: "6px 12px";
    background-color: "#4caf50";
    color: "white";
    border-radius: "4px";
    font-size: "14px";
    white-space: "nowrap";
    box-shadow: "0 2px 6px rgba(0,0,0,0.2)";
    z-index:10;
}

.divExp {
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    background-color:rgb(32, 7, 255);
}

.expList {
    display:flex;
    flex-direction:column;
    margin-top:1.4em;
    gap:0.5em;
}

.deleteExp {
    grid-row:2/3;
    grid-column:1/2;
    background:linear-gradient(to right, rgb(224, 81, 81) 0%, rgb(224, 68, 68) 50%, rgb(214, 57, 57) 100%);
    font-weight:bold;
    color:white;
}

.editExp {
    grid-row:2/3;
    grid-column:2/3;
    background: linear-gradient(to right, rgb(76, 179, 35) 0%, rgb(62, 179, 15) 50%, rgb(53, 173, 6) 100%);
    font-weight:bold;
    color:white;
}

.divExpCompanyName {
    grid-column:1/-1;
    color:white;
    justify-self:center;
    font-weight:bold;
}

.professionalExperience {
    width:30vw;
    padding:18px;
    background-color:white;
}