.emailphone {
    margin-top:-30px;
    margin-bottom:30px;
}

.proExpTitle {
    font-size:1.5em;
    font-weight:900;
}

.proExpUnit {
    margin-bottom:15px;
}

.date {
    font-weight:bold;
}

.expTitle {
    font-size:1.5em;
    font-weight:900;
}

.expUnit  {
    margin-bottom:15px;
}